.about {
    background: url("/img/main-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 1px;
}
.about .container-fluid {
    margin-bottom: 20px;
}

.about .container-fluid .row .texto {
    font-family: 'Indie Flower', cursive;
    text-align: justify;
    font-size: 20px;
    line-height: 20px;
    color:  #fff;
    text-transform: uppercase;
    padding: 50px 15px 15px 15px;
}
.about .container-fluid .about-title {
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    padding: 10px;
}
.about .container-fluid .row .imagen {
     height: 400px;
     background: url("/img/autor.png");
     background-repeat: no-repeat;
     background-position: center;    
     background-size : cover;
     border: 10px  solid rgba(0,0,0,0.6); 
     animation: slide  10s infinite;
    }

    @keyframes slide {

        0%{
            background: url("/img/autor.png");
            background-size : cover;
            background-position: center;       
            background-repeat: no-repeat;
         
        }
        33%{
            background: url("/img/autor3.png");
            background-size : cover;
            background-position: center;       
            background-repeat: no-repeat;
        
        
           
        }
        67%{
            background: url("/img/autor2.png");
            background-size : cover;
            background-position: center;   
            background-repeat: no-repeat;
                
        }
    

    
    }






