.hero {
    margin-top :76px;
    height: 100vh;
    background: url("/img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Indie Flower', cursive;
  text-transform: uppercase;
 
}

.hero .container h1 {
    color: red;
} 

@media(max-width:575px){
    .hero .container h1 {
        font-size: 50px;
    }

}
