.team {
  
    background: url("img/main-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
 
}


.team .about-title
{
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    padding: 20px;  
}

.team .container .row .perfil1,
.team .container  .row .perfil2,
.team .container  .row  .perfil3 {
    height: 400px;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0,0,0,.2);
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 1s;
    box-shadow: 45px 55px 55px rgba(0,0,0,0.5);

}
.team .container .row .perfil1:hover,
.team .container .row .perfil2:hover,
.team .container .row .perfil3:hover
{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}


.main .image {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 0;
}
.main .image img {
    height: 80%;
    width: 100%;
}

.main .wave1,.main .wave2 {
   height: 30px;
   width: 30px;
   background-color: silver;
   position: absolute;
   top:30%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 50%;
   z-index: -1;
 
}

@keyframes pulseEffect{

    from{
         transform: translate(-50%,-50%) scale(0.2);
         opacity: 0.4;
    }

    to {
        transform: translate(-50%,-50%) scale(9);
        opacity: 0;
    }
}
@keyframes pulseEffect2{

    from{
         transform: translate(-50%,-50%) scale(0.5);
         opacity: 0.6;
    }

    to {
        transform: translate(-50%,-50%) scale(5);
        opacity: 0;
    }
}

.main:hover .wave1 {
    animation : pulseEffect 1s infinite linear;
 }
 .main:hover .wave2 {
     animation : pulseEffect2 1s infinite linear;
  }

  .main .info {
    position: absolute;
    height: 130px;
    width: 100%;
    background-color : gray;
    top: 68%;
    left: 0;
    z-index: 1;

   
  }

  .main .info:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top :-119px;
    left: 0;
    border-bottom: 120px solid gray;
    border-left: 800px solid  transparent;
   
  }
  .main .info .viewMore, .main .aboutMe .close{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    cursor: pointer;
  }

  .main .aboutMe .close {
      top: 210%;
  }
  .main .info .viewMore img,.main .aboutMe .close img {
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
  }

  .main .info .name{
      font-family: arial;
      font-size: 13px;
      color :#222222;
      letter-spacing: 2px;
      line-height: 30px;
  }

  .main .info .status {
      font-family: arial;
      font-size: 10px;
      color: white;
      left: 50%;
  }


  .main .aboutMe {
      height: 100px;
      width: 100%;
      background-color:  gray;
      position: absolute;
      top:-100%;
      left:0;
      color: #222222;
      z-index: 1;
    
 
  }
  .main .aboutMe:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top :60px;
    left: 0;
    border-top: 180px solid gray;
    border-right: 700px solid  transparent;
    z-index: -1; 
  
}
  .main .aboutMe h2 {
      font-family: arial;
      font-size: 14px;
      margin: 10px;

  }

  .main .aboutMe p {
    font-family: arial;
    font-size: 10px;
    margin: 10px;
    text-align: justify; 

  }


  .main .details {
      width: 100%;
      position: absolute;
      left:0;
      top:100%;

    }
  .main .details  h4{
      color :black;
      font-size: 20px;
  }
  .main .details  h4 span {
    color :gray;
    font-size: 15px;
  }
  .main .details ul {

      display: inline-block;
      padding: 0;
      margin: 0;
  }

  .main .details ul li {
    display: inline-block;
    list-style: none;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    margin: 5px;
    transition: 1s;
  }

  .main .details ul li:hover {
      transform: rotateY(360deg);

  }

  .main .details ul li:hover a {
     color: red;

}

  .main .details ul li a {
      display: inline-block;
      position: absolute;
      top:45%;
      left: 50%;
      transform: translate(-50%,-50%);
      color:white;
  }
   












